{% extends "layout.html" %}
{% block content %}
  <div id="main-page">
     <div id="main-text">
    <h1>Welcome to the Duty Checker website</h1>
    <p>The place where we can check ours and our colleagues duties*</p>
    <p>
      <a href="checker" id="button">Check duties</a>
  </p>
    <p>The website contains also other useful information about night duty spells,<br> duty cards and others
      which you can obtain from the menu on the top of this page</p>
       <p id="remainder">*(just remember - always check this website data against your DasWeb app or confirm it with GAS
         as this site content is based on the default schedules)</p>
  </div>
  <footer class="mastfoot">
    <div>
      <p>Developed by @Marcinek</p>
    </div>
  </footer>
</div>

{% endblock content %}